
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=99fb77f2774aa1b66495d8145347324c
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup